html {
  font-size: 16px;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.welcome {
  max-width: 100%;
  text-align: center;
}

.input-name {
  position: absolute;
  width: 90%;
  height: 40%;
  background: hsl(0, 3%, 16%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  display: none;
}
