html {
  font-size: 16px;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.welcome {
  max-width: 100%;
  text-align: center;
}

.input-name {
  position: absolute;
  width: 90%;
  height: 40%;
  background: hsl(0, 3%, 16%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  display: none;
}

.container-todo {
  grid-area: todo;
  justify-self: end;
  align-self: end;
  margin-bottom: 1.2rem;
  margin-right: 1.2rem;
}

/*
===================================================================
Todo
===================================================================
*/

/*
===================================================================
Todo
===================================================================
*/
.todo-popup {
  position: absolute;
  bottom: 2.3rem;
  right: 0.5rem;
  opacity: 0;
  transition: opacity 0.15s;
}

.todo-popup .triangle-down {
  margin-right: 1.3rem;
  margin-left: auto;
}

/*container style*/
.todo-div {
  height: auto;
  width: 320px;
  color: black;
  background: rgba(255, 255, 255, 0.96);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 18px 0;
}

/*Style Input and title*/
.todo-input-div {
  padding: 0 21px;
  background: transparent;
}

.todo-input-div form {
  display: flex;
  background: transparent;
}

.header {
  position: relative;
  padding: 0 21px;
}

.todo-input {
  width: auto;
  height: 30px;
  border: none;
  flex: 1 0 auto;
  background: transparent;
}

.todo-input:focus {
  outline: none;
}

.listItem:hover {
  cursor: pointer;
}

#title {
  font-weight: 600;
  font-size: 1.25em;
  margin-bottom: 10px;
}

.textlabel {
  margin: 0;
  flex: 1 0 auto;
}

.listItem {
  margin-left: 21px;
  margin-right: 5px;
}

.todo-list-div {
  margin-bottom: 10px;
  height: 150px;
  overflow-y: auto;
}

.todo-popup {
  position: absolute;
  bottom: 2.3rem;
  right: 0.5rem;
  opacity: 0;
  transition: opacity 0.15s;
}

.todo-popup .triangle-down {
  margin-right: 1.3rem;
  margin-left: auto;
}

/*container style*/
.todo-div {
  height: auto;
  width: 320px;
  color: black;
  background: rgba(255, 255, 255, 0.96);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 18px 0;
}

/*Style Input and title*/
.todo-input-div {
  padding: 0 21px;
  background: transparent;
}

.todo-input-div form {
  display: flex;
  background: transparent;
}

.header {
  position: relative;
  padding: 0 21px;
}

.todo-input {
  width: auto;
  height: 30px;
  border: none;
  flex: 1 0 auto;
  background: transparent;
}

.todo-input:focus {
  outline: none;
}

.listItem:hover {
  cursor: pointer;
}

#title {
  font-weight: 600;
  font-size: 1.25em;
  margin-bottom: 10px;
}

.textlabel {
  margin: 0;
  flex: 1 0 auto;
}

.listItem {
  margin-left: 21px;
  margin-right: 5px;
}

.todo-list-div {
  margin-bottom: 10px;
  height: 150px;
  overflow-y: auto;
}



/* QUOTES */

#quotes {
  color: #fff;
  opacity: 0.5;
  font-size: 1.5rem;
  position: relative;
  font-weight: lighter;
  margin-bottom: 30px;
}

#random-quotes{
  position: relative;
  top: 20%;
}

#add-quote{
  font-size: 1rem;
  margin-top: 8px;
  font-weight: 100;
  width: 30px;
  height: 30px;
  color: #fff7;
  background-color: transparent;
  border: 1px solid;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

#add-quote-button {
  z-index: 999;
  bottom: 75%;
  right: 48%;
}

#add-quote:hover{
  background-color: #fff4;
  color: black;
}

#new-quote{
  padding: 20px;
  position: absolute;
  top: 72%;
  left: -100%;
  width: 300px;
  height: 200px;
  background-color: #0007;
  transition: ease-in 0.5s;   
}

#main-new-quote{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
}

#new-quote.display {
  left: 1%;
  position: absolute;
}

#new-quote-text{
  margin: 20px 5px;
  border-bottom: 1px solid white;
  width: 100%;
  text-align: center;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: #fff6;
}

#get-new-quote {
  list-style: none;
  color: #fff;
}